.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.form-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-modificardatos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}